@import "src/sass/themes/variables";

.carousel {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: auto;
    justify-content: center;
    max-width: $px800;
    margin: auto;
    position: relative;
    width: 100%;
}

.slide {
    border-radius: $rem50pct;
    box-shadow: $mediumShadow;
    height: $pct100;
    width: $pct100;
}

.slide.hidden {
    display: none;
}

.carousel .arrow {
    color: $darkGrey;
    height: $rem2;
    position: absolute;
    width: $rem2;
}

.carousel .arrow:hover {
    color: $black;
    cursor: pointer;
}

.carousel .arrow.left {
    left: $rem1;
}

.carousel .arrow.right {
    right: $rem1;
}

.carousel .indicators {
    bottom: $rem1;
    display: flex;
    position: absolute;
}

.carousel .indicator {
    background-color: $darkGrey;
    border: none;
    border-radius: $pct100;
    box-shadow: $smallShadow;
    cursor: pointer;
    height: $rem50pct;
    margin: $rem50pct;
    padding: $rem50pct;
    outline: none;
}

.carousel .indicator:hover {
    background-color: $black;
    cursor: pointer;
}

.carousel .indicator.current {
    background-color: $black;
}