@import "src/sass/themes/variables";

.footer {
    align-items: center;
    box-shadow: $mediumShadow;
    display: flex;
    height: $px40;
    justify-content: space-between;
    position: relative;
    text-align: center;
    z-index: 1;
}

.footer > div {
    flex: 1;
}

.footer > div:first-child {
    margin-left: $rem85pct;
}

.footer > div:last-child {
    margin-right: $rem85pct;
    text-align: right;
}