@import 'src/sass/themes/variables';

.footer.form {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: $largeMargin;
    width: $largestPercentage;
}

.footer.form button.submit.login {
    padding: $mediumPadding $largePadding;
}