@import 'src/sass/themes/variables';

.formFooter.form {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: $rem2;
}

.formFooter.form button.submit.login {
    padding: $rem1 $rem2;
}