@import "src/sass/themes/themes";
@import "src/sass/themes/variables";

.sidebar {
    box-shadow: $mediumShadow;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: $px40;
    z-index: 2;
}

.sidebar.show {
    justify-content: flex-start;
    min-width: auto;
    white-space: nowrap;
}

.sidebar.show > div:first-child {
    cursor: unset;
}

.sidebar.show > div:hover {
    cursor: auto;
}

.sidebar > div:last-child {
    align-self: flex-end;
    bottom: $px20;
    position: absolute;
    margin-right: $px10;
}

.sidebar > .menu > h3 {
    margin-bottom: 0;
}

.sidebar>.menu {
    margin: $rem1;
}

@media (width <=768px) {
    .sidebar.show {
        height: calc($vh100 - $px105);
        position: absolute;
    }
}