@import "src/sass/themes/themes";
@import "src/sass/themes/base.scss";

.sidebar {
    box-shadow: $mediumShadow;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: $mediumPadding;
}

.sidebar:hover {
    cursor: pointer;
}

.sidebar.show {
    justify-content: space-between;
}

.sidebar.show > div:first-child {
    cursor: unset;
    flex: auto;
}

.sidebar.show > div:hover {
    cursor: auto;
}

.sidebar > div:last-child {
    align-self: flex-end;
}

.sidebar > div.sidebarToggle,
.sidebar > div.sidebarToggle > a > svg {
    height: $smallerHeight;
}