@import "src/sass/themes/variables";

.tableWrapper {
    border-radius: $smallRadius;
    margin: auto;
    max-width: calc($sidebarWidth - $mediumPixelWidth);
    overflow: scroll;
}
.table {
    border-collapse: separate;
    border-spacing: 0;
    margin: auto;
}

.table td, .table th {
    border-style: solid;
    border-width: $extraSmallPixelWidth;
    border-style: none solid solid none;
    padding: $smallPadding;
}

.table th:first-child {
    border-top-left-radius: $smallRadius;
}

.table th:last-child {
    border-top-right-radius: $smallRadius;
}

.table tbody > tr:last-child td:last-child  {
    border-bottom-right-radius: $smallRadius;
}

.table tbody > tr:last-child td:first-child {
    border-bottom-left-radius: $smallRadius;
}

.table tr:hover {
    cursor: pointer;
}