@import "src/sass/themes/variables";

.tableWrapper {
    border-radius: $rem50pct;
    margin: auto;
    max-width: calc($vw85 - $px100);
    overflow: scroll;
}
.table {
    border-collapse: separate;
    border-spacing: 0;
    margin: auto;
}

.table td, .table th {
    border-style: solid;
    border-width: $px1;
    border-style: none solid solid none;
    padding: $rem85pct;
}

.table th:first-child {
    border-top-left-radius: $rem50pct;
}

.table th:last-child {
    border-top-right-radius: $rem50pct;
}

.table tbody > tr:last-child td:last-child  {
    border-bottom-right-radius: $rem50pct;
}

.table tbody > tr:last-child td:first-child {
    border-bottom-left-radius: $rem50pct;
}

.table tr:hover {
    cursor: pointer;
}

td.nullValue i {
    color: $grey;
}