@import "src/sass/themes/variables";

.chatMessages {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.chatMessage {
    color: $white;
    margin: $px5 $rem1;
}

.chatMessage.sender > span {
    align-items: flex-start;
    background-color: $malibu;
    border-radius: $px6;
    float: right;
    margin-left: $rem2;
    padding: $rem1;
    text-align: right;
}

.chatMessage.receiver > span {
    align-self: flex-end;
    background-color: $grey;
    border-radius: $px6;
    float: left;
    margin-right: $rem2;
    padding: $rem1;
    width: auto;
    text-align: left;
}

.noMessages {
    color: $lightGrey;
    margin: auto 0;
    font-style: italic;
}