@import "src/sass/themes/variables";
/* Custom properties */
:root {
    --tooltip-margin: 30px;
    --tooltip-left-margin: 10px;
    --tooltip-arrow-size: 6px;
}

/* Wrapping */
.tooltip {
    display: inline-block;
    position: relative;
}

/* Absolute positioning */
.tip {
    border-radius: 4px;
    box-shadow: $darkShadow;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1;
    padding: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 100;
}

/* CSS border triangles */
.tip::before {
    content: " ";
    border: solid transparent;
    border-width: var(--tooltip-arrow-size);
    height: 0;
    left: 50%;
    margin-left: calc(var(--tooltip-arrow-size) * -1);
    position: absolute;
    pointer-events: none;
    width: 0;
}

/* Absolute positioning */
.tip.top {
    top: calc(var(--tooltip-margin) * -1.65);
}

/* CSS border triangles */
.tip.top::before {
    top: 100%;
}

.tip.topLeft {
    top: calc(var(--tooltip-margin) * -1.85);
    left: 160%;
    transform: translateX(-38%);
}

.tip.topLeft::before {
    top: 100%;
    left: 20%;
}

/* Absolute positioning */
.tip.right {
    left: calc(100% + var(--tooltip-margin));
    top: 50%;
    transform: translateX(0) translateY(-50%);
}

/* CSS border triangles */
.tip.right::before {
    left: calc(var(--tooltip-arrow-size) * -1);
    top: 50%;
    transform: translateX(0) translateY(-50%);
}

/* Absolute positioning */
.tip.bottom {
    bottom: calc(var(--tooltip-margin) * -1.65);
}

/* CSS border triangles */
.tip.bottom::before {
    bottom: 100%;
}

/* Absolute positioning */
.tip.left {
    left: auto;
    right: calc(100% + var(--tooltip-left-margin));
    top: 50%;
    transform: translateX(0) translateY(-50%);
}

/* CSS border triangles */
.tip.left::before {
    left: auto;
    right: calc(var(--tooltip-arrow-size) * -2);
    top: 50%;
    transform: translateX(0) translateY(-50%);
}