@import "src/sass/themes/variables";

.filterDropdown {
    background: $white;
    border-color: $grey;
    border-style: solid;
    border-radius: $rem25pct;
    border-width: $px1;
    box-shadow: $smallShadow;
    text-align: left;
    z-index: 2;
}

.filterDropdown>ul {
    margin: 0;
    padding: 0;
}

.filterDropdown>ul>li {
    border-bottom-color: $grey;
    border-bottom-style: solid;
    border-bottom-width: $px1;
    color: $black;
    cursor: pointer;
    font-size: $rem85pct;
    font-weight: normal;
    margin: 0;
    padding: $rem50pct $rem85pct;
    list-style-type: none;
}

.filterDropdown>ul>li:last-child {
    border: none;
}