@import "src/sass/themes/variables";

.filterDropdown {
    border-radius: $rem25pct;
    box-shadow: $smallShadow;
    text-align: left;
    z-index: 2;
}

.filterDropdown>ul {
    margin: 0;
    padding: 0;
}

.filterDropdown>ul>li {
    border-left-style: solid;
    border-left-width: $px1;
    border-right-style: solid;
    border-right-width: $px1;
    border-top-width: $px1;
    border-top-style: solid;
    cursor: pointer;
    font-size: $rem85pct;
    font-weight: normal;
    margin: 0;
    padding: $rem50pct $rem85pct;
    list-style-type: none;
}

.filterDropdown>ul>li:first-child {
    border-top-style: solid;
    border-top-width: $px1;
    border-top-right-radius: $rem25pct;
    border-top-left-radius: $rem25pct;
}

.filterDropdown>ul>li:last-child {
    border-bottom-style: solid;
    border-bottom-width: $px1;
    border-bottom-right-radius: $rem25pct;
    border-bottom-left-radius: $rem25pct;
}