@import "src/sass/themes/base.scss";

.header.site {
    align-items: center;
    box-shadow: $mediumShadow;
    display: flex;
    justify-content: space-between;
    padding: $smallPadding;
}

.header.site > .right {
    align-items: center;
    display: flex;
    justify-content: center;
}

.menuIcon {
    margin-left: $smallMargin;
}

.menuIcon:hover {
    color: $grey;
}