@import "src/sass/themes/variables";

.header.site {
    align-items: center;
    box-shadow: $mediumShadow;
    display: flex;
    justify-content: space-between;
    padding: $px10;
}

.header.site .brand {
    font-size: $rem1pt5;
}

.header.site > .right {
    align-items: center;
    display: flex;
    justify-content: center;
}