@import "src/sass/themes/variables";

.chatInput {
    position: relative;
}

.chatInput > textarea {
    height: $px20;
    line-height: $px20;
    margin-top: 0;
    max-height: 220px;
    overflow: scroll;
    padding: $px10;
    resize: none;
    width: $pct100;
}

