@import "src/sass/themes/variables";
.iconMenuItem {
    margin-top: $rem85pct;
    margin-left: $rem50pct;
    white-space: nowrap;
}

.iconMenuItem:hover,
.iconMenuItem:hover>a {
    color: $darkGrey;
}

.iconMenuItem>a {
    margin-left: $rem50pct;
}