@import 'src/sass/themes/variables';

a.siteLink {
    text-decoration: none;
}

a.siteLink.button {
    background-color: $black;
    border: $thinBorder solid $black;
    border-radius: $smallRadius;
    color: $white;
    display: inline-block;
    margin-left: $smallMargin;
    padding: $mediumPadding;
}

a.siteLink.button:hover {
    background-color: $grey;
    border: $thinBorder solid $black;
    color: $black;
}

a.siteLink.link {
    align-items: center;
    font-weight: $mediumFontWeight;
    justify-content: center;
    padding: $mediumPadding $largePadding;
    text-decoration: underline;
}