@import 'src/sass/themes/base.scss';

a.siteLink {
    text-decoration: none;
}

a.siteLink.button {
    background-color: $black;
<<<<<<< HEAD
    border: $thinBorder solid $black;
=======
>>>>>>> 6e7f044 (massive amount of  boilerplate)
    border-radius: $smallRadius;
    color: $white;
    display: inline-block;
    margin-left: $smallMargin;
    padding: $mediumPadding;
}

a.siteLink.button:hover {
    background-color: $grey;
<<<<<<< HEAD
    border: $thinBorder solid $black;
    color: $black;
=======
>>>>>>> 6e7f044 (massive amount of  boilerplate)
}