@import "src/sass/themes/variables";

.tableToolbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.filterWrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: -$px20;
}