@import "src/sass/themes/variables";

.tableHeader > tr > th {
    text-wrap: nowrap;
}

.tableHeader>tr>th > span:first-child {
    margin-right: $rem85pct;
}

.tableHeader>tr>th:not(.sort) {
    pointer-events: none;
}

.sort:hover {
    color: $lightGrey;
}