@import 'src/sass/themes/variables';

.page .wrapper {
    border-radius: $mediumRadius;
    display: inline-block;
    padding: $largerPadding;
    margin: $autoCenteredMargin;
}

.backdrop .wrapper.preloader, 
.page .wrapper.login,
.page .wrapper.register {
    border-radius: $mediumRadius;
    box-shadow: $mediumShadow;
}

.backdrop .wrapper.preloader {
    background-color: $lightGrey;
    padding: $largePadding;
}

.wrapper > h1 {
    margin-top: $noMargin;
}

.wrapper.tableResults {
    display: flex;
    justify-content: center;
    max-width: calc($sidebarWidth - $mediumPixelWidth);
}
