@import "src/sass/themes/variables";
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding: 0 $px4;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: $pct20;
    padding: 0 $px4;
}

.column > a {
    display: inline-block;
    margin: $px20;
}

.column img {
    display: inline-block;
    margin-top: $px8;
    vertical-align: middle;
    width: $pct100;
}