.page.droogAi {
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: flex-end;
    padding-bottom: 0;
}

.page.noMessages {
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: center;
    padding-bottom: 0;
}

