.page.droogAi {
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: flex-end;
    padding-bottom: 0;
}

.page.noMessages {
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: flex-end;
}

@media (width <=768px) {

    .page.noMessages {
        flex: unset;
    }
}

@media (width >=768px) {
    .page.noMessages {
        padding-bottom: 0;
    }
}