@import 'src/sass/themes/variables';

.chat>.sender {
    align-items: center;
    display: flex;
    font-size: $rem1;
    font-weight: $num600;
}

.chat>.sender > div:last-child {
    padding-left: $px10;
}