@import "src/sass/themes/variables";

.pager {
    display: flex;
    list-style-type: none;
}

.pagerItem {
    align-items: center;
    border-radius: $rem50pct;
    box-sizing: border-box;
    color: $darkestGrey;
    display: flex;
    font-size: $rem75pct;
    height: $rem2pt25;
    letter-spacing: $rem25pct;
    margin: auto $rem10pct;
    min-width: $rem2pt25;
    padding: 0 $rem85pct;
    text-align: center;

    &.dots:hover {
        background-color: transparent;
        cursor: default;
    }

    &:hover {
        cursor: pointer;
    }

    &.disabled {
        pointer-events: none;

        &:hover {
            background-color: transparent;
            cursor: default;
        }
    }
}