@import "src/sass/themes/variables";

.pager {
    display: flex;
    list-style-type: none;
}

.pagerItem {
    align-items: center;
    border-radius: $smallRadius;
    box-sizing: border-box;
    color: $darkestGrey;
    display: flex;
    font-size: $smallFontSize;
    height: $pagerHeight;
    letter-spacing: $pagerLetterSpacing;
    margin: auto $smallestMargin;
    min-width: $pagerWidth;
    padding: 0 $smallPadding;
    text-align: center;

    &.dots:hover {
        background-color: transparent;
        cursor: default;
    }

    &:hover {
        cursor: pointer;
    }

    &.disabled {
        pointer-events: none;

        &:hover {
            background-color: transparent;
            cursor: default;
        }
    }
}