@import 'src/sass/themes/variables';

.userDetails {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: $autoPosition;
    width: $halfViewWidth;
}

.userDetails > div {
    padding: $smallerPadding;
}