@import 'src/sass/themes/base.scss';

.header {
<<<<<<< HEAD
<<<<<<< HEAD
    height: $autoPosition;
=======
    height: auto;
>>>>>>> 6e7f044 (massive amount of  boilerplate)
=======
    height: $autoPosition;
>>>>>>> 8e50453 (style inputs, add preloader in progress)
}