@import "src/sass/themes/variables";
 .wrapper.changePassword {
    padding: $rem1;
}

form.changePassword > .togglePassword {
    margin-top: -210px;
    position: absolute;
}

input[name="currentPassword"] {
    position: relative;
}