@import "src/sass/themes/variables";

.chatWindow.open {
    background-color: $white;
    border-radius: $px6;
    bottom: $px40;
    box-shadow: $mediumShadow;
    display: flex;
    flex-direction: column;
    height: $px400;
    margin: $rem1;
    position: absolute;
    right: 0;
    width: $px350;
    z-index: 1;
}

.chatWindow.min {
    border-radius: $px6;
    bottom: $px40;
    box-shadow: $mediumShadow;
    margin: $rem1;
    position: absolute;
    right: 0;
    width: auto;
    z-index: 1;
}

.chatWindow.close {
    display: none;
}

.chatWindow.max {
    border-radius: 0;
    bottom: 0;
    height: $vh100;
    margin: 0;
    z-index: 3;
}