@import "src/sass/themes/variables";

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: $px7;
    background: $lightGrey;
    border-radius: $px5;
    background-image: linear-gradient($almostBlack, $almostBlack);
    background-repeat: no-repeat;
    width: $pct100;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: $px20;
    width: $px20;
    border-radius: $pct50;
    background: $almostBlack;
    cursor: pointer;
    box-shadow: 0 0 $px2 0 $lightGrey;
    transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: $blackAlpha10pct $px0X3 $px8;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:active {
    box-shadow: $blackAlpha20pct $px0X3 $px11;
    transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        left 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.slider.slider-100 > input[type="range"]::-webkit-slider-thumb {
    background: $lgRgbGreen;
    border: $px1 solid $almostBlack;
}

.slider.slider-100 > input[type="range"] {
    background-image: $lgRgbGreen;
    border: $px1 solid $almostBlack;
}

.slider.slider-90 > input[type="range"]::-webkit-slider-thumb {
    background-image: $lgRgbLightGreen;
    border: $px1 solid $almostBlack;
}

.slider.slider-90 > input[type="range"] {
    background-image: $lgRgbLightGreen;
    border: $px1 solid $almostBlack;
}

.slider.slider-80 > input[type="range"]::-webkit-slider-thumb {
    background-image: $lgRgbLighterGreen;
    border: $px1 solid $almostBlack;
}

.slider.slider-80 > input[type="range"] {
    background-image: $lgRgbLighterGreen;
    border: $px1 solid $almostBlack;
}

.slider.slider-70 > input[type="range"]::-webkit-slider-thumb {
    background-image: $lgRgbLightestGreen;
    border: $px1 solid $almostBlack;
}

.slider.slider-70 > input[type="range"] {
    background-image: $lgRgbLightestGreen;
    border: $px1 solid $almostBlack;
}

.slider.slider-60 > input[type="range"]::-webkit-slider-thumb {
    background-image: $lgRgbYellow;
    border: $px1 solid $almostBlack;
}

.slider.slider-60 > input[type="range"] {
    background-image: $lgRgbYellow;
    border: $px1 solid $almostBlack;
}

.slider.slider-50 > input[type="range"]::-webkit-slider-thumb {
    background-image: $lgRgbYellowOrange;
    border: $px1 solid $almostBlack;
}

.slider.slider-50 > input[type="range"] {
    background-image: $lgRgbYellowOrange;
    border: $px1 solid $almostBlack;
}

.slider.slider-40 > input[type="range"]::-webkit-slider-thumb {
    background-image: $lgRgbLightOrange;
    border: $px1 solid $almostBlack;
}

.slider.slider-40 > input[type="range"] {
    background-image: $lgRgbLightOrange;
    border: $px1 solid $almostBlack;
}

.slider.slider-30 > input[type="range"]::-webkit-slider-thumb {
    background-image: $lgRgbOrange;
    border: $px1 solid $almostBlack;
}

.slider.slider-30 > input[type="range"] {
    background-image: $lgRgbOrange;
    border: $px1 solid $almostBlack;
}

.slider.slider-20 > input[type="range"]::-webkit-slider-thumb {
    background-image: $lgRgbOrangeRed;
    border: $px1 solid $almostBlack;
}

.slider.slider-20 > input[type="range"] {
    background-image: $lgRgbOrangeRed;
    border: $px1 solid $almostBlack;
}

.slider.slider-10 > input[type="range"]::-webkit-slider-thumb {
    background-image: $lgRgbRed;
    border: $px1 solid $almostBlack;
}

.slider.slider-10 > input[type="range"] {
    background-image: $lgRgbRed;
    border: $px1 solid $almostBlack;
}