@import "src/sass/themes/variables";

.footer.chat {
    align-items: center;
    display: flex;
    height: $px90;
    text-align: center;
}

.footer.chat > div {
    flex: 1;
}

.footer.chat > div:nth-child(2) {
    flex-grow: 6;
    text-align: unset;
}

.footer.chat > div:first-child {
    margin-left: unset;
}