@import "src/sass/themes/variables";

.chatMenu > ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.button.addNewChat {
    display: flex;
    width: $pct100;
}

.button.addNewChat span:nth-child(1) {
    margin-right: $px10;
}

.wrapper.chatHistory {
    background-color: $blackAlpha20pct;
    border-radius: $px6;
    margin: $rem1 0;
    padding: $rem1 $rem2;
    text-align: center;
}