@import 'src/sass/themes/variables';
.input {
    padding: $smallerPadding;
    border-radius: $smallerRadius;
    border: $thinBorder solid $black;
    margin-top: $mediumMargin;
    padding: $smallPadding;
}