@import "src/sass/themes/variables";
.breadcrumbs {
    display: flex;
    margin-left: $rem1;
}

.breadcrumb {
    padding-right: $rem10pct;
}

.breadcrumb::after {
    content: ' /';
}

.breadcrumb:not(.breadcrumb:first-child) {
    margin-left: $rem10pct;
}

.breadcrumb:last-child::after {
    display: none;
}