@import 'src/sass/themes/variables';

.backdrop {
    align-items: center;
    background: $blackAlpha70pct;
    display: flex;
    height: $vh100;
    justify-content: center;
    position: absolute;
    top: 0;
    width: $vw100;
    z-index: 4;
}

.backdrop.clickable {
    cursor: pointer;
}