@import 'src/sass/themes/base.scss';

html {
    user-select: none;
}

body {
    font-family: $brevia;
    font-style: normal;
    font-weight: $semiBoldFontWeight;
    margin: $noMargin;
}

textarea,
select,
input,
button {
    outline: none;
}