@import "src/sass/themes/base.scss";

.siteToolbar {
    box-shadow: $mediumShadow;
    display: flex;
    justify-content: space-between;
    padding: $mediumPadding;
    position: relative;
    z-index: 1;
}
