@import "src/sass/themes/variables";

.siteToolbar {
    align-items: center;
    box-shadow: $mediumShadow;
    display: flex;
    justify-content: space-between;
    padding: $rem50pct;
    position: relative;
    z-index: 3;
}
