@import "src/sass/themes/variables";

.filterInput {
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
}

.input.filter {
    border-color: $black;
    margin-top: 0;
}

.filterInputDropdownArrowIcon {
    position: absolute;
    left: 144px;
    top: 12px;
}