@import "src/sass/themes/themify";
.header.site {
    align-items: center;
    @include themify('background', 'headerBg');
    box-shadow: $mediumShadow;
    display: flex;
    justify-content: space-between;
    padding: $smallPadding;
}