@import 'src/sass/themes/base.scss';
.form {
<<<<<<< HEAD
<<<<<<< HEAD
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    min-width: $largePixelWidth;
    width: $largePercentage;
    max-width: $largerPixelWidth;
}
.form > * {
    margin: $smallestMargin;
=======
    align-items: center;
=======
    align-items: stretch;
>>>>>>> 8e50453 (style inputs, add preloader in progress)
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    min-width: $largePixelWidth;
    width: $largePercentage;
    max-width: $largerPixelWidth;
}
.form > * {
    margin: $smallestMargin;
<<<<<<< HEAD
    width: 100%;
>>>>>>> 40702ef (update form style, update scss)
=======
>>>>>>> 8e50453 (style inputs, add preloader in progress)
}