@import "src/sass/themes/variables";

$themes: (
    light: (
        avatarBorderColor: $black,
        avatarBg: $darkGrey,
        avatarColor: $white,
        breadCrumbColor: $black,
        buttonBg: $black,
        buttonHoverBg: $grey,
        buttonBorderColor: $black,
        buttonColor: $white,
        layoutBg: $lightestGrey,
        pageColor: $black,
        sideBarBg: $lightGrey,
        sideBarHoverBg: $lighterGrey,
        siteHeaderBg: $white,
        siteHeaderLogoText: $purple,
        siteHeaderMenuIconColor: $black,
        siteHeaderMenuIconHoverColor: $grey,
        siteLinkLinkColor: $black,
        siteMenuBg: $lightGrey,
        siteMenuColor: $black,
        siteToolbarBg: $lightestGrey,
        svgColor: $black,
        wrapperBg: $lighterGrey,
    ),
    dark: (
        avatarBorderColor: $white,
        avatarBg: $lightGrey,
        avatarColor: $black,
        breadCrumbColor: $white,
        buttonBg: $lightGrey,
        buttonHoverBg: $grey,
        buttonBorderColor: $white,
        buttonColor: $black,
        layoutBg: $black,
        pageColor: $grey,
        sideBarBg: $darkestGrey,
        sideBarHoverBg: $darkerGrey,
        siteHeaderBg: $black,
        siteHeaderLogoText: $mediumPurple,
        siteHeaderMenuIconColor: $white,
        siteHeaderMenuIconHoverColor: $grey,
        siteLinkLinkColor: $white,
        siteMenuBg: $grey,
        siteMenuColor: $black,
        siteToolbarBg: $almostBlack,
        svgColor: $white,
        wrapperBg: $almostBlack,
    ),
);