@import "src/sass/themes/variables";

$themes: (
    light: (
        avatarBorderColor: $black,
        breadCrumbColor: $black,
        buttonBg: $black,
        pageColor: $black,
        siteHeaderLogoText: $black,
        sideBarColor: $black,
        tooltipBg: $black,
        tooltipColor: $white,
        siteLinkLinkColor: $black,
        svgColor: $black,
        tableTdColor: $black,
        siteHeaderMenuIconColor: $black,
        buttonBorderColor: $black,
        sliderThumbBg: $almostBlack,
        sideBarHoverColor: $darkestGrey,
        siteMenuBg: $darkestGrey,
        avatarBg: $darkGrey,
        tableThBg: $darkGrey,
        buttonHoverBg: $grey,
        pagerColor: $darkestGrey,
        tableBorderColor: $grey,
        siteHeaderMenuIconHoverColor: $grey,
        sideBarBg: $lightGrey,
        tableTrHoverBg: $lightGrey,
        siteToolbarBg: $lightestGrey,
        wrapperBg: $lighterGrey,
        tableTrNthChildEvenBg: $lighterGrey,
        layoutBg: $lightestGrey,
        tableTrNthChildOddBg: $lightestGrey,
        avatarColor: $white,
        buttonColor: $white,
        siteHeaderBg: $white,
        siteMenuColor: $white,
        tableThColor: $white,
        siteFooterBg: $white,
        siteFooterColor: $black,
        pagerHover: $blackAlpha4pct,
        pagerSelected: $blackAlpha8pct,
    ),
    dark: (
        avatarBorderColor: $white,
        breadCrumbColor: $white,
        buttonBorderColor: $white,
        siteHeaderLogoText: $white,
        siteHeaderMenuIconColor: $white,
        siteLinkLinkColor: $white,
        svgColor: $white,
        tableThColor: $white,
        tableTdColor: $white,
        sliderThumbBg: $lightGrey,
        tooltipBg: $lightGrey,
        tooltipColor: $black,
        pagerColor: $lightestGrey,
        sideBarHoverColor: $lightestGrey,
        siteMenuColor: $lightestGrey,
        sideBarColor: $lightGrey,
        avatarBg: $lightGrey,
        buttonBg: $lightGrey,
        buttonHoverBg: $grey,
        pageColor: $grey,
        siteHeaderMenuIconHoverColor: $grey,
        tableBorderColor: $darkGrey,
        sideBarHoverBg: $darkerGrey,
        sideBarBg: $darkestGrey,
        siteMenuBg: $darkestGrey,
        tableTrNthChildOddBg: $darkestGrey,
        tableTrNthChildEvenBg: $darkerGrey,
        siteToolbarBg: $almostBlack,
        tableThBg: $almostBlack,
        tableTrHoverBg: $almostBlack,
        wrapperBg: $almostBlack,
        siteFooterBg: $almostBlack,
        avatarColor: $black,
        buttonColor: $black,
        layoutBg: $black,
        siteHeaderBg: $black,
        siteFooterColor: $white,
        pagerHover: $whiteAlpha20pct,
        pagerSelected: $whiteAlpha30pct,
    ),
);