@import "src/sass/themes/base.scss";

$themes: (
    light: (
        avatarBorderColor: $black,
        avatarBg: $darkGrey,
        avatarColor: $white,
        buttonBg: $black,
        buttonHoverBg: $grey,
        buttonBorderColor: $black,
        buttonColor: $white,
        headerBg: $lightGrey,
        layoutBg: $lighterGrey,
        pageColor: $black,
        sideBarBg: $lightGrey,
        siteLinkLinkColor: $black,
        siteToolbarBg: $lightestGrey,
        svgColor: $black,
        wrapperBg: $lighterGrey,
    ),
    dark: (
        avatarBorderColor: $white,
        avatarBg: $lightGrey,
        avatarColor: $black,
        buttonBg: $lightGrey,
        buttonHoverBg: $grey,
        buttonBorderColor: $white,
        buttonColor: $black,
        headerBg: $darkGrey,
        layoutBg: $darkestGrey,
        pageColor: $grey,
        sideBarBg: $darkGrey,
        siteLinkLinkColor: $white,
        siteToolbarBg: $almostBlack,
        svgColor: $lightGrey,
        wrapperBg: $almostBlack,
    ),
);