@import "src/sass/themes/variables";

.filterCritera {
    font-size: $rem75pct;
    font-style: italic;
    font-weight: normal;
    text-align: right;
    margin: $rem50pct;
}

.clearFilter {
    margin-left: $rem50pct;
}

.filterWithDropdown {
    position: relative;
    display: flex;
    flex-direction: column;
}

.filterWarning {
    color: $red;
    font-size: $rem75pct;
}