@import "src/sass/themes/variables";

.modal {
    background-color: $blackAlpha70pct;
    display: block;
    height: $vh100;
    left: 0;
    overflow: auto;
    padding-top: $vw25;
    position: fixed;
    top: 0;
    width: $vw100;
    z-index: 4;
}

.modalContent {
    background-color: $white;
    border-radius: $rem50pct;
    box-shadow: $mediumShadow;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: auto;
    position: relative;
    padding: 0;
    width: $px350;
}

.modalHeader {
    margin: $rem50pct;
}

.modalBody {
    margin: $rem2;
}

.modalFooter {
    margin: $rem50pct;
}