@import "src/sass/themes/variables";

.menu.profile > .sub {
    display: flex;
    flex-direction: column;
}

.menu.profile > .sub > div {
    margin-top: $smallPadding;
    margin-left: $smallerPadding;
    white-space: nowrap;
}

.menu.profile>.sub>div:hover,
.menu.profile>.sub>div:hover > a {
    color: $darkGrey;
}

.menu.profile > .sub > div > a {
    margin-left: $smallerMargin;
}
