@import 'src/sass/themes/base.scss';

.logo {
    display: flex;
    font-family: $josefin;
    text-decoration: none;
}

.logo > div {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: $smallestPadding;
} 

.logo > div > svg {
    width: $mediumWidth;
}

.logo.siteHeader {
    font-size: $largeFontSize;
}

.logo.siteFooter {
    font-size: $regularFontSize;
}