@import 'src/sass/themes/variables';

.logo {
    display: flex;
    font-family: $josefin;
    text-decoration: none;
}

.logo > div {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: $rem10pct;
} 

.logo > div > svg {
    width: $rem3pt5;
}

.logo.siteHeader {
    font-size: $rem1pt25;
}

.logo.siteFooter {
    font-size: $rem85pct;
}

.logo.small > div > svg {
    width: $rem2;
}