@import "src/sass/themes/variables";

.siteMenu {
    box-shadow: $mediumShadow;
    display: none;
}

.siteMenu.show {
    display: inline-block;
    height: $vh100;
    min-width: $px250;
    position: absolute;
    right: 0;
    z-index: 5;
}

.siteMenuHeader {
    display: flex;
    justify-content: right;
    margin-top: $rem1pt5;
    margin-right: $rem1;
}

.siteMenuBody {
    margin: $rem1;
    text-align: center;
}

.siteMenuItem {
    border-bottom-style: solid;
    border-bottom-width: $px1;
    padding: $rem85pct;
}

.siteMenuItem:last-child {
    border-bottom: none;
}