@import "src/sass/themes/variables";

.chatFooterPage {
    background-size: $pct10;
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
}

@media (width <=768px) {
    .chatFooterPage {
        justify-content: flex-end;
    }
}
