@import 'src/sass/themes/base.scss';

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

button {
    background-color: $black;
<<<<<<< HEAD
<<<<<<< HEAD
    border: $thinBorder solid $black;
=======
>>>>>>> 6e7f044 (massive amount of  boilerplate)
=======
    border: $thinBorder solid $black;
>>>>>>> 8e50453 (style inputs, add preloader in progress)
    border-radius: $smallRadius;
    color: $white;
    cursor: pointer;
    display: inline-block;
    padding: $mediumPadding;
}

button:hover {
    background-color: $grey;
<<<<<<< HEAD
<<<<<<< HEAD
    border: $thinBorder solid $black;
    color: $black;
=======
>>>>>>> 6e7f044 (massive amount of  boilerplate)
=======
    border: $thinBorder solid $black;
    color: $black;
>>>>>>> 8e50453 (style inputs, add preloader in progress)
}