@import 'src/sass/themes/base.scss';

.avatar {
    align-items: center;
    background-color: $darkGrey;
    border: $thinBorder solid $black;
<<<<<<< HEAD
<<<<<<< HEAD
    border-radius: $largePercentage;
=======
    border-radius: $circularRadius;
>>>>>>> 6e7f044 (massive amount of  boilerplate)
=======
    border-radius: $largePercentage;
>>>>>>> 40702ef (update form style, update scss)
    color: $white;
    display: flex;
    flex: 1;
    font-size: $largeFontSize;
    font-weight: $boldFontWeight;
    justify-content: center;
    margin-left: $smallMargin;
    text-decoration: none;
    width: 50px;
}

a.avatar:hover {
    background-color: $grey;
}

.avatar:before {
    content: "";
    display: inline-block;
<<<<<<< HEAD
<<<<<<< HEAD
    padding-top: $largestPercentage;
=======
    padding-top: $fullPadding;
>>>>>>> 6e7f044 (massive amount of  boilerplate)
=======
    padding-top: $largestPercentage;
>>>>>>> 40702ef (update form style, update scss)
}