@import 'src/sass/themes/variables';

.avatar {
    align-items: center;
    border-style: solid;
    border-radius: $pct50;
    border-width: $px1;
    color: $white;
    display: flex;
    flex: 1;
    font-size: $rem1pt25;
    font-weight: $num700;
    justify-content: center;
    margin-left: $rem85pct;
    text-decoration: none;
    width: 50px;
}

a.avatar:hover {
    background-color: $grey;
}

.avatar:before {
    content: "";
    display: inline-block;
    padding-top: $pct100;
}

.avatar.chat {
    width: $px35;
    font-size: $px15;
    margin-left: 0;
}