@import "src/sass/themes/variables";

.modalHeader {
    padding: $smallestPadding;
}

.modalHeader h3 {
    margin-left: $smallMargin;
}

.modalHeader > .fa-xmark {
    position: absolute;
    right: $absoluteRight;
    top: $absoluteTop;
}
