@import "src/sass/themes/variables";

.modalHeader {
    padding: $rem10pct;
}

.modalHeader h3 {
    margin-left: $rem85pct;
}

.modalHeader > .fa-xmark {
    position: absolute;
    right: $px15;
    top: $px15;
}
