@import "src/sass/themes/variables";

.multiSelect {
    cursor: pointer;
    margin: $px25 auto;
    position: relative;
    min-width: $px350;
}

.multiSelect:hover .options {
    background-color: $white;
    border: solid $px1 $black;
    border-radius: $rem50pct;
    box-shadow: $smallShadow;
    display: block;
    margin-top: 0;
}

.multiSelect > .selected {
    align-items: center;
    background-color: $white;
    border: solid $px1 $black;
    border-radius: $rem50pct;
    display: flex;
    justify-content: space-between;
    padding: $rem85pct;
}

.multiSelect > .options {
    border: solid $px1 #eee;
    box-sizing: border-box;
    display: none;
    left: 0;
    list-style: none;
    padding: $rem85pct 0;
    padding-left: 0;
    position: absolute;
    width: $pct100;
}

.multiSelect > .options > .option {
    align-items: center;
    display: flex;
    padding: $rem85pct;
    cursor: pointer;
}

.multiSelect > .options > .option:hover {
    background-color: $lightestGrey;
}

.multiSelect > .options > .option > .checkbox {
    margin-right: $rem85pct;
}