@import 'src/sass/themes/variables';

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

button {
    border-style: solid;
    border-width: $px1;
    border-radius: $rem50pct;
    display: inline-block;
    padding: $rem1;
}

button.button:disabled,
button:disabled {
    pointer-events: none;
}

button.small {
    margin: $px3;
    padding: $px5 $px10;
}

button.small.selected {
    color: $black;
    background-color: $lighterGrey;
    border-color: $black;
    cursor: unset;
}