@import "src/sass/themes/variables";

.chatGptMessages {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    margin: 0 auto;
    max-height: 75vh;
    width: $pct75;
    padding-top: $px1;
    scrollbar-width: none;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chatGptMessages::-webkit-scrollbar {
    display: none;
}