@import "src/sass/themes/variables";

.chatGptMessages {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    margin: 0 auto;
    max-height: 75vh;
    width: $pct75;
    padding-top: $px1;
    scrollbar-width: none;
}

.chatGptMessages::-webkit-scrollbar {
    display: none;
}